:root {
	--bs-primary: #5B7F01;
}

#mapid {
	height: 300px;
}

div.container {
	background-color: #fff;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
	color: #fff;
	text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}

footer.page-footer a,
footer.page-footer a:visited {
	text-decoration: underline;
	color: #0147AF;
}

.header-backArrow {
	display: flex;
	font-size: 22px;
	line-height: 1.2;
	margin-bottom: .5rem;
}

.header-backArrow svg {
	width: 1em;
	height: 1em;
	margin-right: .25rem;
	color: #ADB5BD;
}

.header-backArrow svg:hover {
	color: #000;
}

div#map-container {
	margin-bottom: 1em;
}

div#map {
	height: 500px;
}

#autocomplete-container {
	position: absolute;
	border: 1px solid #d4d4d4;
	background-color: #fff;
	z-index: 99;
}

#autocomplete-container p {
	padding: 0.5rem;
	margin: 0;
	position: relative;
	border-bottom: 1px solid #d4d4d4;
}

.autocomplete-item {
	cursor: pointer;
}
.autocomplete-item:hover {
	background-color: #e9e9e9;
}

.autocomplete-focus {
	background-color: #e9e9e9;
	outline: #5b7f01 solid 5px;
	z-index: 100;
}
